/* @define identity */

.identity {
  background-color: #171717 !important;
  border: none;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0;
  border-radius: 0.25rem;
  height: 250px;
  margin-right: 0px!important;
  margin-left: 0px !important;
}

.identity__title {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.72;
  margin-bottom: 0;
}

.identity__help {
  font-size: 2rem;
  opacity: 0.72;
}

.identity__hydro-id {
  font-size: 1.2rem;
  margin: 0;
}

.identity__ein {
  font-size: 1rem;
  margin: 0;
}

.identity__linked-wallets {
  font-size: 1rem;
  margin: 0;
}

.identity__user-image {
  margin: 0;
  text-align: center;
  display: none!important;
}

.identity-test{
  padding-left: 1.4rem;
}

.identity__link {
  color: #555555;
  font-size: 4rem;
}

.identity__connected-wallet-title {
  font-size: 19px;
}

.linked-address-col{
  padding-top: 10px;
}

@media(max-width:600px){

  .identity{
      margin-bottom: 8rem;
  }

  .link{
    height: 400px!important;
    padding-left: 0 !important;
  }

}
