/* @define wallet */

.wallet__row {
  margin-top: 30px;
}

.identity__row{
  display: flex;
  justify-content: center;
}

/**
 * TODO: Check to see if it's safe to delete these classes

.wallet .btn-secondary {
  background-color: #3c65fe;
  border-color: #3c65fe;
  box-shadow: none;
}

.wallet .btn-white {
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
}

.wallet .btn-white:hover {
  background-color: #3c65fe;
  border-color: #3c65fe;
  box-shadow: none;
}

.wallet .btn-success {
  box-shadow: none;
}
*/

.btn-secondary {
  background-color: #784083;
  border-color: #784083;
  box-shadow: none;
}

.btn-secondary:hover {
  background-color: #48274f;
  border-color: #48274f;
}

.btn-secondary:active {
  background-color: #784083!important;
}


.btn-secondary:focus {
  background-color: #48274f;
  border-color: #48274f;
}

