/* @define header */

.navbar {
  background: transparent!important;
  padding: 10px 0 0 20px;
  margin: 0;
  height: 85px;
  width: 100%;
}

.navbar-brand {
  padding-left: 15px;
}

.header__title {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: -8px;
  text-align: right;
}

.header__logo {
  width: 100px;
  margin-top: -20px;
}

.header__subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  padding: 5px 0 0 0px;
}

.header__hydro {
  color: $primary;
}

.fixed-nav {
  position: fixed;
  top: 0;
}

.navbar-light .navbar-toggler {
  margin-right: 30px;
  margin-top: -12px;
}

.navbar .onboardingButton {
  margin-right: 30px;
}

.header__version {
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: 13px;
  left: 140px;
}

.routes3{
  display: none!important;
}


@media(max-width:600px){
.routes{
  display: none!important;
}

.routes3{
  display: contents!important;
}

.headerAccount{
  display: none!important;
}
}
