/* @define header */

.navbar {
  background: #171717 !important;
  padding: 10px 0 0 20px;
  margin: 0;
  height: 85px;
  width: 100%;
}

.navbar-brand {
  padding-left: 15px;
}

.header__title {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  text-align: right;
}

.header__logo {
  width: 150px;
}

.header__subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  padding: 5px 0 0 0px;
}

.header__hydro {
  color: $primary;
}

.fixed-nav {
  position: fixed;
  top: 0;
}

.navbar-light .navbar-toggler {
  margin-top: -12px;
}

.navbar .onboardingButton {
  margin-right: 30px;
}

.header__version {
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: 13px;
  left: 140px;
}

.routes3{
  display: none!important;
}


@media(max-width:600px){
.routes{
  display: none!important;
}

.routes3{
  display: contents!important;
}

.headerAccount{
  display: none!important;
}

.navbar-dark .navbar-toggler {
  margin-top: -12px;
  margin-left: 7rem;
}

.ml-auto, .mx-auto {
    background: #171717 !important;
    margin: 10px;
    height: 100%;


}

a, h2, .nav-link{
  display: flex;
  justify-content: center;
}
}
